html{ 	
	height: 100%;
	}	
body{
	font-family: 'Lato';
	color: white;
	background-image:  url("../imgs/uvac.jpg");
	background-size: cover;
	background-position: center;
        font-family: 'Open Sans' , sans-serif;
	}
h1{

	font-weight: 700;
	font-size: 5em;
       
	}
h2{

	font-weight: 700;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0, 0.2)
	}
#content{
	text-align: center;
	padding-top: 6%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	}
#content select{
        margin-bottom: 20%;
        }
#content2{
	text-align: center;
	padding-top: 6%;
	}

.redline{
    border-color: #990000;
}

.blueline{
	border-color: navy;		
}


*[role="form"], #content3{
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: rgba(242, 242, 242, 0.77);
    margin-bottom: 5%;
}

*[role="form"] h2, #content3 h2{ 
    font-weight: 600;
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    color:#333333;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

span#pozdrav{
    font-weight: 600;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15px;
    color: #286090;
    margin-top: 5%;
    margin-bottom: 10%;
}

label{
    color:black;
}

.red,#prefSpan{
    color:#990000;
}
