html{ 	
	height: 100%;
	}	
body{
	font-family: 'Lato';
	color: white;
	background-image: url("../imgs/uvac.jpg");
	background-size: cover;
	background-position: center;
	}
h1{

	font-weight: 700;
	font-size: 5em;
	}
h2{

	font-weight: 700;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

label{
    color:black;
}

.red{
    color:#990000;
}
*[role="form"]#myForm{
    max-width:791px;
  
}
*[role="form"]{
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: rgba(242, 242, 242, 0.77);
    margin-bottom: 5%;
}

*[role="form"] h2 { 
    font-weight: 600;
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    color:#333333;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.redBorder{
    border:red 1px solid;
}

.whitesmokeClass{
    color:whitesmoke;
}

span:not(.whitesmokeClass){
    color:#990000;
}

#jmbgHint{
    color:white;
}
.hintSpan{
}

#fBar{
background-color: #990000;
height: 4px;
}
#sBar{
background-color: navy;
height: 4px;
}
#tBar{
background-color: white;
height: 4px;
}

.navbar-default{
    background: rgba(0,64,128, 0.3);
    border-top: 1px solid red;
    border-bottom: 1px solid white; 
    border-left: none;
    border-right: none;
    padding: 2px;
}

.navbar-default .navbar-toggle:focus {
    background-color: gray;
    }
img.navbar-brand{
	float:left;
}

.bg-primary{
	background: transparent;
	color:white;
	margin-bottom: 6%;

}

.navbar-default .navbar-nav > li > a{
	color:white;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
	color:black;
	font-weight: bold;
	background-color: rgba(231, 231, 231, 0.4);
	border-radius: 4px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: rgba(256, 256, 256, 0.6);
     font-weight: bold;
     border-radius: 4px;
}
